<app-header></app-header>

<main>
  <ul id="users">
    <!-- Using Angular's *ngFor directive to iterate over users array -->
    @for (user of users; track user.id) {
    <li>
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        (select)="onSelectUser($event)"
      />
    </li>
    }
  </ul>

  <!-- Checking if selectedUser is not null and displaying Tasks component with selectedUser's name -->
  @if (selectedUser) {
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
  <p id="fallback">Select a user to see their tasks</p>
  }
</main>
